<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workshopDate">
            <h2><span jhiTranslate="kranzenzoApp.workshopDate.detail.title">Workshop Date</span> {{workshopDate.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kranzenzoApp.workshopDate.date">Date</span></dt>
                <dd>
                    <span>{{workshopDate.date}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.workshopDate.workshop">Workshop</span></dt>
                <dd>
                    <div *ngIf="workshopDate.workshopId">
                        <a [routerLink]="['/workshop', workshopDate.workshopId, 'view']">{{workshopDate.workshopName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/workshop-date', workshopDate.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
