<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.order.confirmation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.order.confirmation.greeting(${user.firstName})}">
    Dear
</p>
<p>
    Dit is een bevestiging van je bestelling bij Kranzenzo.
</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Beschrijving</th>
        <th scope="col">Prijs</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${order.product.name}">Bloemstuk</td>
        <td th:text="${'€'+order.product.price}">€50</td>
    </tr>
    <tr th:if="${order.includeBatteries}">
        <td>Batterijen voor LED-licht</td>
        <td>€0.5</td>
    </tr>
    <tr th:if="${order.deliveryType.equals(T(be.sandervl.kransenzo.domain.enumeration.DeliveryType).DELIVERED)}">
        <td>Levering</td>
        <td th:text="${'€'+order.deliveryPrice}">{{this.deliveryPrice}}</td>
    </tr>
    <tr class="table-active">
        <td>Totaal</td>
        <td th:text="${'€'+order.totalPrice}">prijs</td>
    </tr>
    </tbody>
</table>
<p th:inline="text">Gelieve € [[${order.totalPrice}]] over te schrijven op <b>[[${T(be.sandervl.kransenzo.config.Constants).VAT_NUMBER}]]</b>
</p>
<p th:if="${order.deliveryType.equals(T(be.sandervl.kransenzo.domain.enumeration.DeliveryType).DELIVERED)}"
   th:inline="text">
    Zodra het geld is overgemaakt zal het stuk worden geleverd in [[${order.customer.street}]] te
    [[${order.customer.city}]].
</p>

<p th:if="${order.deliveryType.equals(T(be.sandervl.kransenzo.domain.enumeration.DeliveryType).PICKUP)}">
    Zodra het geld is overgemaakt zal je melding krijgen van KranzEnzo voor een afspraak te maken om het
    stuk te kunnen ophalen.
</p>
<p>
    <span th:text="#{email.order.confirmation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
