<footer class="container-fluid text-center">
    <div class="copyrights" style="margin-top:25px;">
        <p>
            <a href="https://www.facebook.com/groups/128880894459897" target="_blank">
                Facebook 
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
        </p>
        <p>Kranzenzo © <span>{{currentYear}}</span>, All Rights Reserved
            <br>
            <small>Web Design By: Sander Van Loock</small>
        </p>
    </div>
</footer>
