<footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
            <li><a href="https://www.facebook.com/Kranzenzo-1772889903012670/">Facebook</a></li>
            <li><a href="mailto:annemie.rousseau@telenet.be">Email</a></li>
            <li><a href="/#/faq">FAQ</a></li>
            <li><a href="https://kranzenzo-images.s3.eu-west-1.amazonaws.com/terms_and_conditions.pdf" target="_blank">Verkoopsvoorwaarden</a></li>
            <li><a href="/#/contact">Contact</a></li>
        </ul>
        <p>Designed and built with all the love in the world by
            <a href="https://twitter.com/sandervanloock" target="_blank" rel="noopener">@sandervanloock</a>
        </p>
        <div class="copyrights" style="margin-top:25px;">
            <!--<p>-->
            <!--<a routerLink="info">-->
            <!--vrijblijvend welkom na afspraak-->
            <!--</a>-->
            <!--</p>-->
            <small>Kranzenzo © <span>{{currentYear}}</span> <br>
            </small>
        </div>
    </div>
</footer>
