<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" *ngIf="workshop">

        <div class="alerts" role="alert">
            <ngb-alert *ngIf="submittedAlert" [type]="submittedAlert.type" (close)="submittedAlert = null">
                <pre [innerHTML]="submittedAlert.msg"></pre>
            </ngb-alert>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="">{{workshop.name}}</a></li>
            </ol>
        </nav>

        <ngb-carousel *ngIf="workshop.images && workshop.images.length">
            <ng-template ngbSlide *ngFor="let image of workshop.images">
                <img [src]="image.endpoint | s3ImageResize: '800x400'" width="100%">
                <div class="carousel-caption">
                    <!--<h3>First slide label</h3>-->
                </div>
            </ng-template>
        </ngb-carousel>

        <img class="card-img-top" *ngIf="!workshop.images || workshop.images.length==0" [src]="'https://via.placeholder.com/800x400?text='+workshop.name"/>

        <div class="jumbotron">
            <div class="row">
                <h1 class="display-3">
                    {{workshop.name}}
                    <span class="badge badge-secondary">{{workshop.price | currency:'EUR':'symbol'}}</span>
                    <span class="badge badge-secondary">{{workshop.durationInMinutes}} minuten</span>
                </h1>
            </div>

            <hr class="my-4">
            <p class="lead">{{workshop.description}}</p>
            <h3>Materialen</h3>
            <p class="lead">{{workshop.neededMaterials}}</p>
            <h3>Inbegrepen in prijs</h3>
            <p class="lead">{{workshop.includedInPrice}}</p>
            <h3>Data</h3>
            <p class="lead">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/', { outlets: { popup: 'kranzenzo-workshop/'+ workshop.id + '/subscription/'+date.id} }]" replaceUrl="true" role="button" *ngFor="let date of workshop.dates">
                    {{date.date | date:'shortDate'}}
                </button>
            </div>
            </p>
        </div>
        <div *ngIf="workshop.tags.length">
            <svg class="icon icon-home" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"/>
            </svg>
            <span *ngFor="let tag of workshop.tags">
                    <a class="btn btn-secondary" routerLink="/shop" [queryParams]="{tag: tag.name}">{{tag.name}}</a>
                </span>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>
