<!--https://mdbootstrap.com/previews/free-templates/ecommerce/workshop-page.html-->
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <ngb-carousel *ngIf="workshop?.images.length">
                    <ng-template ngbSlide *ngFor="let image of workshop.images">
                        <img [src]="image.endpoint | s3ImageResize: '800x400'" width="100%">
                        <div class="carousel-caption"></div>
                    </ng-template>
                </ngb-carousel>

                <img class="card-img-top" *ngIf="workshop?.images.length==0" [src]="'https://via.placeholder.com/800x400?text='+workshop.name" />

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3" *ngIf="workshop?.tags.length">
                        <a href="#" routerLink="/shop" [queryParams]="{tag: tag.name}" *ngFor="let tag of workshop.tags">
                            <span class="badge purple mr-1">{{tag.name}}</span> </a>
                    </div>

                    <p class="lead">
                        <span class="mr-1">
                        </span> <span>{{workshop?.price | currency:'EUR':'symbol'}}</span>
                    </p>

                    <p class="lead font-weight-bold">{{workshop?.name}}</p>
                    <h5>Beschrijving</h5>
                    <p>{{workshop?.description}}</p>
                    <h5>Nodige materialen</h5>
                    <p>{{workshop?.neededMaterials}}</p>
                    <h5>Inbegrepen in prijs</h5>
                    <p>{{workshop?.includedInPrice}}</p>

                    <form class="d-flex justify-content-left">
                        <!-- Default input -->


                        <div class="list-group" role="group" aria-label="Inschrijvingen" *ngIf="workshop?.dates.length">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light"
                            [routerLink]="'subscription/'+date.id"
                            *ngFor="let date of workshop.dates"
                                type="submit" routerLink="order">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                {{date.date | date:'dd-MM-yyyy HH:mm'}}
                            </button>
                        </div>
                        <div class="" *ngIf="!workshop?.dates.length">
                            <h4>Helaas, alle data zijn volzet. Je kan niet meer inschrijven.</h4>
                        </div>

                    </form>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;"
            *ngIf="false">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                    odit voluptates, quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in
                    laborum.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;" *ngIf="false">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/workshops/11.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/workshops/12.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/workshops/13.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
