<div>
    <h2>
        <span jhiTranslate="kransenzoApp.image.home.title">Images</span>
        <button class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/', { outlets: { popup: ['image-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" jhiTranslate="kransenzoApp.image.home.createLabel">
            Create new Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <!--<form name="searchForm" class="form-inline">-->
            <!--<div class="input-group w-100 mt-3">-->
            <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kransenzoApp.image.home.search' | translate }}">-->
            <!--<button class="input-group-addon btn btn-info" (click)="search(currentSearch)">-->
            <!--<span class="fa fa-search"></span>-->
            <!--</button>-->
            <!--<button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">-->
            <!--<span class="fa fa-trash-o"></span>-->
            <!--</button>-->
            <!--</div>-->
            <!--</form>-->
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row imagetiles" *ngIf="images">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let image of images ;trackBy: trackId">
                <a *ngIf="image.endpoint" [href]="image.endpoint" target="_blank">
                    <img [src]="image.endpoint | s3ImageResize: '50x50'" style="width:100%"
                         class="img-responsive" alt="image image"/>
                </a>
            </div>
        </div>
    </div>
</div>
