<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="kranzenzoApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kranzenzoApp.image.data">Data</span></dt>
                <dd>
                    <div *ngIf="image.data">
                        <a (click)="openFile(image.dataContentType, image.data)">
                            <img [src]="'data:' + image.dataContentType + ';base64,' + image.data" style="max-width: 100%;" alt="image image"/>
                        </a>
                        {{image.dataContentType}}, {{byteSize(image.data)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.image.endpoint">Endpoint</span></dt>
                <dd>
                    <span>{{image.endpoint}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.image.workshop">Workshop</span></dt>
                <dd>
                    <div *ngIf="image.workshopId">
                        <a [routerLink]="['/workshop', image.workshopId, 'view']">{{image.workshopName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.image.product">Product</span></dt>
                <dd>
                    <div *ngIf="image.productId">
                        <a [routerLink]="['/product', image.productId, 'view']">{{image.productName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
