
<div *ngIf="customer">
    <h2><span jhiTranslate="kransenzoApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kransenzoApp.customer.street">Street</span></dt>
        <dd>
            <span>{{customer.street}}</span>
        </dd>
        <dt><span jhiTranslate="kransenzoApp.customer.city">City</span></dt>
        <dd>
            <span>{{customer.city}}</span>
        </dd>
        <dt><span jhiTranslate="kransenzoApp.customer.zipCode">Zip Code</span></dt>
        <dd>
            <span>{{customer.zipCode}}</span>
        </dd>
        <dt><span jhiTranslate="kransenzoApp.customer.province">Province</span></dt>
        <dd>
            <span>{{customer.province}}</span>
        </dd>
        <dt><span jhiTranslate="kransenzoApp.customer.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{customer.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="kransenzoApp.customer.address">Address</span></dt>
        <dd>
            <div *ngIf="customer.addressId">
                <a [routerLink]="['/location', customer.addressId]">{{customer.addressId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
