.margin {
    margin-bottom: 45px;
}

.info-item {
    margin: 20px;
}

.info-question {
    margin: 10px 0;
}

a {
    color: black;
    font-weight: 100;
}

a:hover {
    color: black;
    font-weight: 100;
    text-underline: none;
}
