<p>
    <!-- Third Container (Grid) -->
<div class="container-fluid  margin">
    <h3 class="margin text-center">Veelgestelde vragen</h3>
    <br/>
    <div class="row col-md-10" style="margin: 0 auto;">
        <ngb-accordion #acc="ngbAccordion" style="width: 100%">
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan ik een bestelling komen ophalen?
                </ng-template>
                <ng-template ngbPanelContent>
                    Jazeker. Misschien best eerst even telefoneren zodat je niet voor een gesloten deur staat.
                </ng-template>
            </ngb-panel>
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan ik ook betalen bij levering?
                </ng-template>
                <ng-template ngbPanelContent>
                    Ja hoor
                </ng-template>
            </ngb-panel>
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan ik mijn bestelling thuis laten leveren?
                </ng-template>
                <ng-template ngbPanelContent>
                    Ja, dat kan. Binnen een straal van 10 km wordt dit zelfs kosteloos gedaan. Leveren buiten een straal
                    van 10km wordt aangerekend aan €0,5 per extra kilometer. Wanneer je bestelt, noteer bij
                    opmerkingen enkele momenten wanneer het geleverd mag worden. Zoniet zal er contact worden opgenomen
                    wanneer de levering het beste past.
                </ng-template>
            </ngb-panel>
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan ik het als cadeau laten afgeven op een ander adres?
                </ng-template>
                <ng-template ngbPanelContent>
                    Ja. Noteer bij de opmerkingen wat er op het afgeleverde kaartje moet staan.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
</p>
