<p>
    <!-- Third Container (Grid) -->
<div class="container-fluid  margin">
    <h3 class="margin text-center">Veelgestelde vragen</h3>
    <br/>
    <div class="row col-md-10" style="margin: 0 auto;">
        <ngb-accordion #acc="ngbAccordion" style="width: 100%">
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan in een bestelling komen ophalen?
                </ng-template>
                <ng-template ngbPanelContent>
                    Ja! ...
                </ng-template>
            </ngb-panel>
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan ik mijn bestelling laten leveren?
                </ng-template>
                <ng-template ngbPanelContent>
                    Ja! Bestellingen leveren kan binnen een straal van +- 10 kilometer. Er wordt €0,5 aangerekend per
                    kilometer voor
                    de transportkosten. Na bestelling van je bloemstuk zal er contact worden opgenomen om een gepast
                    tijdstip te vinden.
                </ng-template>
            </ngb-panel>
            <ngb-panel class="info-question">
                <ng-template ngbPanelTitle>
                    Kan ik extra batterijen bij mijn werkje krijgen?
                </ng-template>
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                    wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                    keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
</p>
