<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWorkshopLabel" jhiTranslate="kransenzoApp.workshop.home.createOrEditLabel">Create
            or edit a Workshop</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!workshop.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="workshop.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="workshop.name" required maxlength="255"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                    This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.durationInMinutes" for="field_durationInMinutes">Duration
                In Minutes</label>
            <input type="number" class="form-control" name="durationInMinutes" id="field_durationInMinutes" [(ngModel)]="workshop.durationInMinutes" required/>
            <div [hidden]="!(editForm.controls.durationInMinutes?.dirty && editForm.controls.durationInMinutes?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.durationInMinutes?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.durationInMinutes?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <a href="#" (click)="addWorkshopDate()"> <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        <div class="input-group mb-3" *ngFor="let workshopDate of workshop.dates ;let i = index">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <a href="#" (click)="removeWorkshopDate(i)"> <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex">
                <input [id]="'field_date'+i" type="datetime-local" class="form-control" [name]="'dates'+i" [(ngModel)]="workshop.dates[i].date" required/>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price" [(ngModel)]="workshop.price" min="0"/>
            <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.price?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.maxSubscriptions" for="field_maxSubscriptions">Max
                Subscriptions</label>
            <input type="number" class="form-control" name="maxSubscriptions" id="field_maxSubscriptions" [(ngModel)]="workshop.maxSubscriptions"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description" [(ngModel)]="workshop.description" maxlength="5000">

            </textarea>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5000 }">
                    This field cannot be longer than 5000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.neededMaterials" for="field_neededMaterials">Needed
                Materials</label>
            <textarea class="form-control" name="neededMaterials" id="field_neededMaterials" [(ngModel)]="workshop.neededMaterials" maxlength="5000">

            </textarea>
            <div [hidden]="!(editForm.controls.neededMaterials?.dirty && editForm.controls.neededMaterials?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.neededMaterials?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5000 }">
                    This field cannot be longer than 5000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshop.includedInPrice" for="field_includedInPrice">Included
                In Price</label>
            <textarea class="form-control" name="includedInPrice" id="field_includedInPrice" [(ngModel)]="workshop.includedInPrice" maxlength="5000">

            </textarea>
            <div [hidden]="!(editForm.controls.includedInPrice?.dirty && editForm.controls.includedInPrice?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.includedInPrice?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5000 }">
                    This field cannot be longer than 5000 characters.
                </small>
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="form-control-label" jhiTranslate="kransenzoApp.workshop.isActive" for="field_isActive">Is-->
        <!--Active</label>-->
        <!--<input type="checkbox" class="form-control" name="isActive" id="field_isActive" [(ngModel)]="workshop.isActive"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="form-control-label" jhiTranslate="kransenzoApp.workshop.showOnHomepage" for="field_showOnHomepage">Show-->
        <!--On Homepage</label>-->
        <!--<input type="checkbox" class="form-control" name="showOnHomepage" id="field_showOnHomepage" [(ngModel)]="workshop.showOnHomepage"/>-->
        <!--</div>-->

        <div class="form-group">
            <label jhiTranslate="kransenzoApp.workshop.tags" for="field_tags">Tags</label>
            <select class="form-control" id="field_tags" multiple name="tags" [(ngModel)]="workshop.tags">
                <option [ngValue]="getSelected(workshop.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">
                    {{tagOption.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <image-upload id="field_images" [max]="5" [url]="'/api/images/raw'" [maxFileSize]="10000000" [buttonCaption]="'Afbeelding kiezen'" [dropBoxMessage]="'Drop je afbeeldingen hier!'" [extensions]="['jpg','png','jpeg']" [uploadedFiles]="imageEndpoints" (removed)="onImageRemoved($event)" (uploadFinished)="onImageUploadFinished($event)"></image-upload>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
