<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.order.confirmation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Er is een nieuwe inschrijving voor een workshop. </p>
<p>
    Klik <a th:href="${subscriptionLink}">hier</a> om de inschrijving op Kranzenzo te bekijken. </p>
<p>
    <span th:text="#{email.order.confirmation.text2}">Regards, </span> <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
