<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.order.confirmation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:inline="text">
    Beste [[${user.firstName}]], </p>
<p>
    Dit is een bevestiging van je inschrijving voor een workshop bij Kranzenzo op
    <span th:text="${#temporals.format(subscription.workshop.date,'dd-MM-YYYY')}"></span> om
    <span th:text="${#temporals.format(subscription.workshop.date,'HH:mm')}"></span>. </p>
<p th:inline="text">
    Gelieve €[[${subscription.workshop.workshop.price}]] over te schrijven op
    [[${T(be.sandervl.kranzenzo.config.Constants).VAT_NUMBER}]] om je inschrijving te bevestigen met vermelding <b>WORKSHOP
    [[${subscription.workshop.workshop.name}]] - [[${user.firstName}]]</b>.

    Wanneer het bedrag is overgemaakt, zal je melding krijgen dat je inschrijving volledig is. </p>
<p>
    <span th:text="#{email.order.confirmation.text2}">Regards, </span> <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
