<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.order.confirmation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:inline="text">
    Beste [[${user.firstName}]], </p>
<p th:inline="text">
    Je betaling voor de workshop [[${subscription.workshop.workshop.name}]] op
    [[${#temporals.format(subscription.workshop.date,'dd-MM-YYYY')}]] om
    [[${#temporals.format(subscription.workshop.date,'HH:mm')}]] is goed ontvangen. Hierdoor is je inschrijving
    bevestigd en word je op de workshop verwacht. </p>
<p>
    Moest je door omstandigheden toch niet kunnen komen, laat dit dan weten via de contactgegevens die je vindt op
    <a th:href="@{${baseUrl+'/#/contact'}}">Kranzenzo</a>. 
    Je kan de krans die wordt gemaakt tijdens de workshop ook laten maken en later afhalen.
</p>

<span th:text="#{email.order.confirmation.text2}">Regards, </span> <br/> <em th:text="#{email.signature}">JHipster.</em>
</body>
</html>
