<a routerLink="product/{{item.id}}" routerLinkActive="active" class="card-image-link">
    <div class="card">
        <img class="card-img-top" *ngIf="item.images.length"
             [src]="'data:' + item.images[0].dataContentType + ';base64,' + item.images[0].data">
        <img class="card-img-top" *ngIf="item.images.length==0"
             [src]="'https://via.placeholder.com/350x150?text='+item.name"/>
        <div class="card-body">
            <h4 class="card-title">{{item.name}}</h4>
            <p class="card-text">
                {{item.description ? item.description : '&nbsp;'}}
            </p>
        </div>
    </div>
</a>
