<div class="hero-image">
    <!-- https://www.w3schools.com/howto/howto_css_hero_image.asp -->
    <div class="hero-text">
        <h1>Welkom bij Kranzenzo</h1>
        <p>Zelfgemaakte duurzame kransen en decoratie aan een scherpe prijs</p>
        <button routerLink="/shop" routerLinkActive="active" class="btn btn-primary">
            <fa-icon icon="shopping-cart"></fa-icon>
            Ga naar de webshop
        </button>
    </div>
</div>
<div class="container-fluid">
    <!-- Section: Homepage image -->
        <section class="text-center py-5 px-2">
            <div *ngIf="this.homepageSettings">
                <h2>{{this.homepageSettings.title}}</h2>
                <img *ngIf="this.homepageSettings.image" [alt]="this.homepageSettings.title" [src]="this.homepageSettings.image.endpoint | s3ImageResize: '800x1150'" class="img-fluid">
                <p *ngIf="this.homepageSettings.description">
                    {{this.homepageSettings.description}}
                </p>
            </div>
        </section>
    <!-- Homepage image -->

    <!-- Section: Workshops -->
    <section class="row text-center py-5 px-2" *ngIf="workshops">
        <div class="col-md-6 workshop-wrapper" *ngFor="let workshop of workshops">
            <h2 class="h1-responsive font-weight-bold my-3">Workshop: {{workshop.name}}</h2>
            <div class="workshops">
                <p>
                    {{workshop.description}} </p>
                <div *ngIf="workshop.images && workshop.images.length">
                    <img class="img-fluid" *ngIf="workshop.images" [src]="workshop.images[0].endpoint | s3ImageResize: '800x400'" [alt]="workshop.name">
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-primary" [routerLink]="['/kranzenzo-workshop', workshop.id]">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        Schrijf je hier in
                    </button>
                </div>
            </div>
        </div>
    </section><!-- End Section: Workshops -->

    <!-- Section: Testimonials v.2 https://mdbootstrap.com/angular/sections/testimonials/#v-2 -->
    <section class="text-center py-5 px-2">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-3">Wie ben ik?</h2>
        <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
                <img src="https://images.kranzenzo.be/250x250/info-avatar.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
                <fa-icon [icon]="'quote-right'"></fa-icon>
                Na een burnout na 30 jaar in het onderwijs gestaan te hebben, is creatief bezigzijn met natuurlijke
                materialen mijn therapie geweest. Uiteindelijk is het nu mijn beroep geworden. Met heel veel passie en
                creativiteit maak ik unieke, goedkope en duurzame stukken. De stukken hebben een uniek karakter en
                worden gemaakt van gerecycleerd materiaal.
            </p>
            <p>
                Ik probeer de prijs zo laag mogelijk te houden omdat ik het vooral heel graag doe en er ook anderen blij
                wil mee maken. Ik maak ook decostukken naar wens/volgens thema/speciale gelegenheid. </p>
            <p>
                Gratis levering binnen een straal van 10 km. </p>
            <p>
                Via mijn webwinkel kan je mijn producten bekijken en bestellen. Jullie zijn uiteraard steeds welkom bij
                mij thuis na een telefoontje op het nummer 0477 45 75 20 of via mijn mailadres:
                <a href="mailto:annemie.rousseau@telenet.be">annemie.rousseau@telenet.be</a>
            </p>
            <h4 class="font-weight-bold">Annemie Rousseau</h4>
            <h6 class="font-weight-bold my-3">Kranzenzo</h6>
        </div>
    </section><!-- Section: Testimonials v.2 -->

    <!-- Section Homepage tags -->
    <section class="text-center py-5 px-2" *ngIf="homepageTags && homepageTags.length">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-3">Categorieën</h2>
        <div class="tags row">
            <div class="col-md-4" *ngFor="let tag of homepageTags">
                <a routerLink="/shop/tags" routerLinkActive="active" [queryParams]="{parentId: tag.id}" class="card-image-link">
                    <div class="m-block__image">
                        <picture *ngIf="tag.image">
                            <source media="(min-width: 1200px)" class="card-img-top" [srcset]="tag.image.endpoint | s3ImageResize: '400x200'">
                            <source media="(min-width: 992px)" class="card-img-top" [srcset]="tag.image.endpoint | s3ImageResize: '800x400'">
                            <img [src]="tag.image.endpoint | s3ImageResize: '400x200'" class="card-img-top" [alt]="tag.name">
                        </picture>
                        <picture *ngIf="!tag.image">
                            <source media="(min-width: 1200px)" class="card-img-top" [srcset]="'https://via.placeholder.com/400x200?text= '">
                            <source media="(max-width: 992px)" [srcset]="'https://via.placeholder.com/800x400?text= '">
                            <img [src]="'https://via.placeholder.com/400x200?text= '" class="img-fluid img-thumbnail" [alt]="tag.name">
                        </picture>
                    </div>
                    <div class="m-block__content">
                        <div class="m-block__title">
                            {{tag.name}}
                        </div>
                        <div class="m-block__subtitle"></div>
                    </div>
                </a>
            </div>
        </div>
    </section><!-- End Section Homepage tags -->

    <!--<div>
           <img src="https://dscehdfist861.cloudfront.net/800x1150/Moederdag-folder_01-1.jpg" alt="Moederdag">
       </div>-->

    <!--<div>
        <ngb-carousel *ngIf="homepageImages">
            <ng-template ngbSlide *ngFor="let image of homepageImages">
                <img [src]="image.url" class="homepage-image" [alt]="image.caption">
                &lt;!&ndash;<div class="carousel-caption">&ndash;&gt;
                &lt;!&ndash;<h3>{{image.caption}}</h3>&ndash;&gt;
                &lt;!&ndash;<p>{{image.subcaption}}</p>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
            </ng-template>
        </ngb-carousel>
    </div>-->

</div>
