<div class="container-fluid center-block col-lg-offset-2 col-lg-10" style="text-align:center;">
    <h1>Welkom bij Kranzenzo</h1>
    <div>
        <ngb-carousel *ngIf="homepageImages">
            <ng-template ngbSlide *ngFor="let image of homepageImages">
                <img [src]="image.url" class="homepage-image" [alt]="image.caption">
                <div class="carousel-caption">
                    <h3>{{image.caption}}</h3>
                    <p>{{image.subcaption}}</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
