<label class="btn btn-primary btn-file">
    <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Toevoegen</span>
    <input type="file" id="photo" name="photo" ng2FileSelect
           [uploader]="uploader" (change)="onFileSelected()"/>
</label>
<br/>
<small>Voeg één foto toe voor deze groep</small>
<div class="row">
    <div *ngFor="let image of imageEndpoints" class="col">
        <div class="mt-2">
            <img [src]="image" class="img-fluid img-responsive"/>
        </div>
        <div style="text-align:center;">
            <button (click)="onImageRemoved(image)" class="btn btn-danger my-2" style=" width:100%">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Verwijderen</span>
            </button>
        </div>
    </div>
</div>
