/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
}

a:hover {
    text-decoration: none !important;
}

.card-text {
    max-height: 2rem;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 1rem;
}

.product-categories {
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.mat-chip-list-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
