<section class="jumbotron text-center" style="margin-bottom: 0">
    <div class="container">
        <h1 class="jumbotron-heading">
            <fa-icon icon="shopping-cart"></fa-icon>
            Kranzenzo Webwinkel
        </h1>
        <p class="lead text-muted">
            Maak je keuze </p>
        <!--<p>-->
        <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
        <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        <!--</p>-->
    </div>
</section>

<!--Navbar-->
<div class="navbar-shop row">
    <mat-form-field [floatLabel]="'auto'" class="m-2 col-4">
        <mat-label>Zoek een product</mat-label>
        <input matInput [(ngModel)]="searchState.query" (ngModelChange)="reloadState()">
    </mat-form-field>
    <mat-form-field class="m-2 col-4">
        <mat-select placeholder="Categorie" [(ngModel)]="searchState.tagId" (ngModelChange)="reloadState()">
            <mat-option value="">Geen</mat-option>
            <mat-option [value]="tag.id" *ngFor="let tag of tags">
                {{tag.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="py-4 col-2">{{items.length}} resultaten</div>
</div><!--/.Navbar-->

<div class="row" style="visibility: visible; animation-name: fadeIn;">
    <div *ngFor="let item of items" class="col-lg-3 col-md-6 mb-4">
        <mat-card class="card" routerLink="product/{{item.id}}" style="cursor:pointer">
            <!--<a routerLink="product/{{item.id}}" routerLinkActive="active" class="card-image-link">-->
            <mat-card-header>
                <mat-card-title style="text-transform: capitalize">{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.price | currency:'EUR':'symbol'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <picture *ngIf="item.images.length">
                    <source media="(min-width: 1200px)" class="card-img-top"
                            [attr.lazyLoad]="item.images[0].endpoint | s3ImageResize: '400x200'"
                            attr.defaultImage="https://via.placeholder.com/20x10?text=Kranzenzo">
                    <source media="(min-width: 992px)" class="card-img-top"
                            [attr.lazyLoad]="item.images[0].endpoint | s3ImageResize: '800x400'"
                            attr.defaultImage="https://via.placeholder.com/20x10?text=Kranzenzo">
                    <img mat-card-image [lazyLoad]="item.images[0].endpoint | s3ImageResize: '400x200'"
                        defaultImage="https://via.placeholder.com/20x10?text=Kranzenzo"
                         class="card-img-top" [alt]="item.name" offset="300">
                </picture>
                <picture *ngIf="item.images.length==0">
                    <source media="(min-width: 1200px)" class="card-img-top"
                            [srcset]="'https://via.placeholder.com/400x200?text='+item.name">
                    <source media="(max-width: 992px)" class="card-img-top"
                            [srcset]="'https://via.placeholder.com/800x400?text='+item.name">
                    <img mat-card-image [lazyLoad]="'https://via.placeholder.com/400x200?text='+item.name"
                         class="card-img-top" [alt]="item.name" offset="300">
                </picture>
                <p class="card-text">
                    {{item.description ? item.description : '&nbsp;'}} </p>
            </mat-card-content>
            <!--</a>-->
        </mat-card>
    </div>
</div>
