<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="kranzenzoApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kranzenzoApp.product.name">Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.product.price">Price</span></dt>
                <dd>
                    <span>{{product.price | currency:'EUR':'symbol'}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.product.description">Description</span></dt>
                <dd>
                    <span>{{product.description}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.product.isActive">Is Active</span></dt>
                <dd>
                    <span>{{product.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.product.numberOfBatteries">Number Of Batteries</span></dt>
                <dd>
                    <span>{{product.numberOfBatteries}}</span>
                </dd>
                <dt><span jhiTranslate="kranzenzoApp.product.tags">Tags</span></dt>
                <dd>
                    <span *ngFor="let tags of product.tags; let last = last">
                        <a [routerLink]="['/tag', tags?.id, 'view' ]">{{tags.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
