<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWorkshopSubscriptionLabel" jhiTranslate="kransenzoApp.workshopSubscription.home.createOrEditLabel">
            Create or edit a Workshop Subscription</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!workshopSubscription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="workshopSubscription.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshopSubscription.created" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="workshopSubscription.created"/>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshopSubscription.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="workshopSubscription.state" id="field_state">
                <option value="NEW">{{'kransenzoApp.SubscriptionState.NEW' | translate}}</option>
                <option value="PAYED">{{'kransenzoApp.SubscriptionState.PAYED' | translate}}</option>
                <option value="CANCELLED">{{'kransenzoApp.SubscriptionState.CANCELLED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kransenzoApp.workshopSubscription.workshop" for="field_workshop">Workshop</label>
            <select class="form-control" id="field_workshop" name="workshop" [(ngModel)]="workshopSubscription.workshopId">
                <option [ngValue]="null"></option>
                <option [ngValue]="workshopDateOption.id" *ngFor="let workshopDateOption of workshopdates; trackBy: trackWorkshopDateById">
                    {{workshopDateOption.date}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
