<div class="form-group">
    <label>Adres</label>
    <!--small class="form-text text-danger"
           [hidden]="this.customer.street == null && this.customer.city == null">
        Dit is geen geldig adres
    </small-->
    <input required aria-describedby="address"
           id="address" name="address" class="form-control" type="text" autocomplete="off"
           [(ngModel)]="this.customer.description"
           #address="ngModel">
    <small class="form-text text-muted">
        Geef straat, nummer, (bus), en stad
    </small>
</div>
